<script>
  angular.module('app', [])
    .controller('ListController', ['$scope', function($scope) {
      $scope.numbers = <%= @numbers.to_json %>;
      $scope.predicate = 'fullname';
    }]);
</script>

<input type="search" id="search" class="input-small" placeholder="Search" ng-model="searchText" autofocus>
<div class="list">
  <dl class="dl-horizontal" ng-controller="ListController">
    <dt class="headline"><a href="" ng-click="predicate = 'fullname'; reverse=!reverse">Name</a></dt>
    <dd class="headline"><a href="" ng-click="predicate = 'number'; reverse=!reverse">Number</a></dd>
    <dt ng-repeat-start="number in numbers | filter:searchText | orderBy:predicate:reverse">
      {{number.fullname}}
    </dt>
    <dd ng-repeat-end>{{number.formatted_number}}</dd>
  </dl>
</div>
<div style="clear: both;"></div>
